NetSDK/obj/Debug/
Split.io.v12.suo
packages/
Net SDK Unit Tests/bin/Debug/
Net SDK Unit Tests/obj/Debug/
NetSDK/bin/Debug/
.sonar
NetSDK/Splitio.csproj.orig
TestResults/**
.vs
NetSDK/nuget.exe
NetSDK/Splitio.0.0.1.nupkg
NetSDK/Splitio.nuspec
NetSDK/Splitio.0.0.2.nupkg
