<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     <add key="SPLIT_CHANGES_URL_TEMPLATE" value="/splitChanges"/>
     <add key="SPLIT_CHANGES_URL_PARAMETER_SINCE " value="?since="/>
     <add key="SEGMENT_CHANGES_URL_TEMPLATE" value="/segmentChanges/{segment_name}"/>
     <add key="TEST_IMPRESSIONS_URL_TEMPLATE" value="/testImpressions/bulk"/>
     <add key="METRICS_URL_TEMPLATE " value="/metrics/{endpoint}"/>
  </appSettings>
</configuration>