<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SplitAppender" />
    </root>
    <appender name="SplitAppender" type="log4net.Appender.FileAppender">
      <file value="Logs\split-sdk.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
   <appSettings>
     <add key="BLOCK_MILISECONDS_UNTIL_READY" value="" />
     <add key="BASE_URL" value="" />
     <add key="SPLITS_REFRESH_RATE" value="" />
     <add key="SEGMENT_REFRESH_RATE" value="" />
     <add key="RANDOMIZE_REFRESH_RATE" value="" />
     <add key="HTTP_ENCODING" value="" />
     <add key="HTTP_CONNECTION_TIMEOUT" value="" />
     <add key="HTTP_READ_TIMEOUT" value="" />
     <add key="SPLIT_SDK_VERSION" value="" />
     <add key="SPLIT_SDK_SPEC_VERSION" value="" />
     <add key="SPLIT_SDK_MACHINE_NAME" value="" />
     <add key="SPLIT_SDK_MACHINE_IP" value="" />
     <add key="SPLIT_CHANGES_URL_TEMPLATE" value="splitChanges" />
     <add key="URL_PARAMETER_SINCE" value="?since=" />
     <add key="SEGMENT_CHANGES_URL_TEMPLATE" value="segmentChanges/{segment_name}" />
     <add key="TEST_IMPRESSIONS_URL_TEMPLATE" value="testImpressions/bulk" />
     <add key="METRICS_URL_TEMPLATE " value="metrics/{endpoint}" />
     <add key="SPLITS_STORAGE_CONCURRENCY_LEVEL" value="4" />
   </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
